.products_container {
    background-color: gray;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    gap: 1rem;
}

.product {
    border: 2px solid black;
    background-color: rgb(75, 75, 75);
    border-radius: 10px;
    padding: .5rem;
}

.product_controller {
    display: flex;
    gap: .5rem;
}


.form_wrapper {
    border: 1px solid black;
    border-radius: 10px;
    padding: .5rem;
    padding-bottom: 0;
    flex-basis: 50%;
    text-align: center;
    margin-bottom: 1rem;
    
}